body {
  font-family: Helvetica, sans-serif;
}

button {
  margin-top: 10px;
  background-color: whitesmoke;
  border-radius: 15px;
  border: 1px solid;
}

#form {
  background-color: aliceblue;
  width: 270px;
  height: 270px;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  margin: 10px;
}

#username-text-field {
  margin-bottom: 5px;
}

.message-container{
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
}

.message {
  margin: 10px;
  padding: 25px;
  width: 250px;
  height: 250px;
  background-color: rgb(246, 246, 168);
}